body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: hsl(243, 87%, 12%);
}

header {
  display: flex;
  justify-content: space-between;
}

.hero,
.section_2,
.section_3,
.section_4 {
  margin: auto;
  width: 90%;
  max-width: 1440px;
  padding: 71px;
}

.flyo_logo {
  width: 100%;
}

.first_links {
  display: flex;
  width: 30%;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 400, 700;
}

/* Second section design starts here */
.section_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.first_section_box {
  width: 50%;
}

span {
  padding-right: 10px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

.first_sec_h1 {
  display: block;
  font-size: 2em;
  margin-top: 3em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  width: 80%;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  width: 80%;
}

#first_input {
  width: 35%;
  padding: 12px;
}
::placeholder {
  color: rgb(196, 195, 195);
}

.button_1 {
  background-color: hsl(224, 93%, 58%);
  border: 0;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 2px 2px 2px #cccbcb;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.second_section_box {
  width: 50%;
}

.illustration-1 {
  width: 100%;
}

/* Third section design starts here */

.section_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url("./images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: 310vw 100vh;
  background-position-x: center;
}

.secton_3_div {
  width: 100%;
}

.illustration-2 {
  width: 100%;
}

.Fylolink {
  color: rgb(46, 154, 61);
}

.border_text {
  border: 1px solid white;
  width: 50%;
  padding: 30px;
  border-style: outset;
}

.avatar {
  border-radius: 50%;
  width: 11%;
  float: left;
  margin-right: 10px;
}

.avatar_text {
  overflow: hidden;
}

.avatarp_text {
  font-weight: lighter;
  font-size: smaller;
  margin-top: 0;
}

/*  Fourth section design starts here */
.section_4 {
  display: flex;
  align-items: center;
  background-color: hsl(238, 22%, 44%);
}

.section_4_div_1 {
  width: 100%;
  color: white;
}

.section_4_div_2 {
  width: 100%;
}

#second_input {
  width: 70%;
  padding: 12px;
}

.button_2 {
  background-color: hsl(224, 93%, 58%);
  border: 0;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 1px #343434;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
}
